body{
    background-image: url(pattern-728509_1920.png);
    background-position: center;
    background-repeat:repeat-y;
    background-size:auto;
    width: 99%;
    height: 200%;
}

#menu{

        width: 99vw;
        height: 10vh;
        background-color: rgb(179, 162, 123);
        background-position: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
}

#name{
font-size: 200%;
font-family: 'Comfortaa', cursive;
background-color: transparent;


}

#menu>a{
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 170%;
    color: rgb(30, 30, 30);
    
    }

#menu>a:hover{
    font-size: 240%;
    color: black;
    font-weight: bold;
    
    }

    h1{
        font-family: 'Comfortaa', cursive;
        font-size: 170%;
        background-color: transparent;
        text-align: center;
        color: white;
    }

hr{
    color: rgb(42, 42, 42);
    background-color: rgb(42, 42, 42);
    height: 10px;
    border: rgb(10, 10, 10);
}

#content img{
    width: 800px;
height: 500px;
border-radius: 10px;

}

#content{
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    color: white;
    font-size: 110%;

 

}

a{
text-decoration: none;
font-family: 'Comfortaa', cursive;
color: wheat;
font-size: 110%;

}

hr{
color: rgb(30, 30, 30);
height: 10px;
background-color:rgb(30, 30, 30);
}

table{
    color: white;
    font-size: 110%;
    font-family: 'Comfortaa', cursive;
}