body,html{
background-image: url(pattern-728509_1920.png);
background-color: rgb(42, 42, 42);
width: 98vw;
height: 98vh;
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}

#menu{
background-color: rgb(179, 162, 123);
width: 98vw;
height: 9vh; 
display: flex;
justify-content: space-around;
align-items: center;
color: rgb(30, 30, 30);

}

#name{
font-size: 200%;
font-family: 'Comfortaa', cursive;
background-color: transparent;


}

#menu>a{
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 170%;
    color: rgb(30, 30, 30);
    
    }

#menu>a:hover{
    font-size: 240%;
    color: black;
    font-weight: bold;
    
    }

    h1{
        font-family: 'Comfortaa', cursive;
        font-size: 170%;
        background-color: transparent;
        text-align: center;
    }