body,html{
    width: 98vw;
    height: 98vh;
    background-image: url(pattern-728509_1920.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:  rgb(42, 42, 42);
}

#menu{
    width: 98vw;
    height: 9vh;
    background-color: rgb(179, 162, 123);
    color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0px;
}


#name{
    font-size: 200%;
    background-color: transparent;
    font-family: 'Comfortaa', cursive;
    color: rgb(30, 30, 30);
    
    
    }

#menu>a{
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 170%;
    color: rgb(30, 30, 30);
    
    }

#menu>a:hover{
    font-size: 240%;
    color: black;
    font-weight: bold;
    
    }

    #menu>span{
        text-decoration: none;
        font-family: 'Comfortaa', cursive;
        font-size: 170%;
        color: rgb(30, 30, 30);

    }

  h1{
    font-family: 'Comfortaa', cursive;
    font-size: 170%;
    background-color: transparent;
    text-align: center;
  }